h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

.loading-text {
  animation: text-animation 1s infinite;
  animation-direction: alternate; 
}

@keyframes text-animation {
  from {opacity: 1;}
  to {opacity: 0;}
}