<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar navbar-expand-sm navbar-bg-color navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand force-commander-font" routerLink="/" href="#">Mugiesshan's Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/category']" [queryParams]="{val: 'Personal'}">Personal</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">{{this.name}}</a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li>
              <a *ngIf="name==='Log in'; else elseBlock" class="login-form-dropdown">
                <form #userLogin="ngForm" class="" (ngSubmit)="login(userLogin.value)" method="post">
                  <h4>Login</h4>
                  <div class="form-floating mb-3 mt-3">
                    <div class="form-floating mb-3 mt-3">
                      <input id="username" name="username" type="text" class="form-control" value="" ngModel required>
                      <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                      <input id="password" name="password" type="password" class="form-control" value="" ngModel required>
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <input type="submit" class="btn btn-info" name="" value="Log In">&nbsp;
                  <a href="" routerLink="/signup">Don't have an account? Sign up!</a>
                </form>
              </a>
            </li>
            <ng-template #elseBlock>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/profile">Profile</a></li>
              <li><a ngbDropdownItem class="dropdown-item" (click)="logout()">Logout</a></li>
            </ng-template>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" role="main">

  <router-outlet></router-outlet>

  <form id="subscribe-form" method="post">
    <input type="email" name="" value="" required>
    <input type="submit" name="" value="Subscribe">
  </form>
</div>
