<div class="row">
  <div class="col-md-6">
    <p><strong>Username: </strong>{{this.getUsername()}}</p>
  </div>
  <div class="col-md-6">
    <p><strong>Email: </strong>{{this.getEmail()}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p><strong>First Name: </strong>{{this.getFirstname()}}</p>
  </div>
  <div class="col-md-6">
    <p><strong>Last Name: </strong>{{this.getLastname()}}</p>
  </div>
  <div class="col-md-6">
    <p><strong>Phone: </strong>{{this.getPhone()}}</p>
  </div>
  <div class="col-md-6">
    <p><strong>Account Type: </strong>{{this.getRole()}}</p>
  </div>
  <div class="col-md-6">
    <p><strong>Birth Date: </strong>{{this.getBirthday()}}</p>
  </div>
  <div class="col-md-6">
    <p><strong>Creation Date: </strong>{{this.getCreationDate()}}</p>
  </div>
</div>
<!-- <div *ngIf="getRole() === 'admin'" class="col-md-6">
    <button type="button" name="button" class="btn btn-info" routerLink="/post-blog">Upload Blog Post</button>
</div> -->
